<div>
  <app-post-card imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvKZ_u9fYPYfwir-zN16_6_qe0UxGrGBOgZz_qvgQxisc-eRzh" content="nice this works really great"></app-post-card>
  <app-post-card imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvKZ_u9fYPYfwir-zN16_6_qe0UxGrGBOgZz_qvgQxisc-eRzh" content="nice this works really great"></app-post-card>
  <app-post-card imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvKZ_u9fYPYfwir-zN16_6_qe0UxGrGBOgZz_qvgQxisc-eRzh" content="nice this works really great"></app-post-card>
  <app-post-card imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvKZ_u9fYPYfwir-zN16_6_qe0UxGrGBOgZz_qvgQxisc-eRzh" content="nice this works really great"></app-post-card>
  <app-post-card imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvKZ_u9fYPYfwir-zN16_6_qe0UxGrGBOgZz_qvgQxisc-eRzh" content="nice this works really great"></app-post-card>
  <app-post-card imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvKZ_u9fYPYfwir-zN16_6_qe0UxGrGBOgZz_qvgQxisc-eRzh" content="nice this works really great"></app-post-card>
  <app-post-card imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvKZ_u9fYPYfwir-zN16_6_qe0UxGrGBOgZz_qvgQxisc-eRzh" content="nice this works really great"></app-post-card>
  <app-post-card imageUrl="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRvKZ_u9fYPYfwir-zN16_6_qe0UxGrGBOgZz_qvgQxisc-eRzh" content="nice this works really great"></app-post-card>
</div>
