.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  width: 100%;
  grid-auto-flow: row dense;
}
#form-field {
  margin-bottom: -1.25em;
}
.inputContainer {
  align-items: center;
  display: flex;
  margin-left: 15px
}
#submitButton {
  margin-left: 5px
}
